<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-screen flex justify-center items-center">
    <div class="flex flex-col items-center text-4xl">
        🚀
        <h1 class="font-extrabold">Message Sent Successfully</h1>
    </div>
</body>
</html>